.pagetitle{
    text-align: center;
    color: #E5853B;
}

#index{
    background-image: url(./recipe_images/kitchen.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}

#directory{
    color: black;
    font-size: 20px;
}

.description{
    font-size: 18px;
}

.ingredients{
    font-size: 18px;
}

.steps{
    font-size: 18px;
}

body{
    background-color: beige;
    text-align: center;
}

.home{
    text-align: center;
    font-weight: bold;
}