.pagetitle{
    text-align: center;
    color: #E5853B;
}

#index{
    background-image: url(./recipe_images/kitchen.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}

#cookies{
    background-image: url(./recipe_images/no_bake_cookies.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#gravy{
    background-image: url(./recipe_images/choc_gravy.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#directory{
    color: black;
    font-size: 20px;
}

.description{
    font-size: 18px;
    background-color: #E5853B
    
}

.ingredients{
    font-size: 18px;
    background-color: #E5853B
}

.steps{
    font-size: 18px;
    background-color: #E5853B
}

body{
    background-color: beige;
    text-align: center;
}

.home{
    text-align: center;
    font-weight: bold;
}